<div class="header-container">
    <div class="left-button">
        <img src="/assets/welcome-view-svg/previous-slide-btn.svg"/>

    </div>
    <div class="slideshow-container">
        <div class="welcome-view">
                <img  src="/assets/welcome-view-svg/Group.svg" />
                <p class="white-font"> {{summaryText}}</p>
                <img src="/assets/welcome-view-svg/Rectangle-2.svg" />
                <div class="slide-indicator">
                    <img src="/assets/welcome-view-svg/current-slide-ellipsis.svg"/>
            </div>
        </div>
    </div>
    <div class="right-button">
        <img src="/assets/welcome-view-svg/next-slide-btn.svg"/>
        
    </div>
</div>